.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 937px;

    background-image: url('../../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Press Start 2P', monospace;
    color: #e8e8e8; 
}