.main-button{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 460px;
    height: 52px;
    margin-top: 20px;

    text-decoration: none;
    background-color: #30336B;
    box-shadow: 4px 4px 0px #7C5E99;

    transition: transform 100ms ease-in-out;
}

.main-button:hover{
    transform: scale(1.05);
}

.main-button .title{
    font-family: 'Press Start 2P', monospace;
    font-size: 18px;
    color: #e8e8e8;
    margin-right: 10px;
}