.main-profile{
    display: flex;
    align-items: center;
    width: 810px;
    transform: translate(-6%, -46%);
}

.main-profile .photo{
    width: 200px;
    border: 5px solid rgba(39, 174, 96, 0.8);
    border-radius: 134px;
    margin-right: 10px;
}

.main-profile .title{
    font-family: 'Press Start 2P', monospace;
    font-size: 25px;
    color: #e8e8e8;
    margin-bottom: 10px;
}