.main-profile{
    display: flex;
    align-items: center;
    width: 810px;
    transform: translate(-6%, -46%);
    margin-bottom: -148px;
}

.main-profile .photo{
    width: 200px;
    border: 5px solid rgba(39, 174, 96, 0.8);
    border-radius: 134px;
    margin-right: 10px;
}

.main-profile .title{
    font-family: 'Press Start 2P', monospace;
    font-size: 25px;
    color: #e8e8e8;
    margin-bottom: 10px;
}

.main-profile .social-networks{
    margin-right: 10px;

    box-shadow: 2px 2px 0px #7C5E99;
    transition: transform 100ms ease-in-out;
}

.main-profile .social-networks:hover{
    transform: scale(1.06);
}