.main-table{
    width: 1056px;
    border-collapse: collapse;
    font-family: 'Press Start 2P', monospace;
    font-size: 18px;
    color: #e8e8e8;
    text-align: center;
}

.main-table .table-item{
    border: 2px solid #e8e8e8;
    height: 40px;
}
