.main-button{
    width: 180px;
    height: 40px;
    border: none;
    cursor: pointer;

    box-shadow: 4px 4px 0px #000;

    font-family: 'Press Start 2P', monospace;
    font-size: 18px;
    color: #e8e8e8;
    text-shadow: 2px 2px 0px #000;
    transition:  transform 100ms ease-in-out;
}

.main-button:hover{
    transform: scale(1.08);
}

.main-button.-first{
    background-color: #05C46B;
}

.main-button.-second{
    background-color: #7C5E99;
}

.main-button.-third{
    width: 100%;
    height: 40px;
    font-size: 9px;
    color: #353A3F;
    box-shadow: none;
    text-shadow: none;
}

.main-button.-third.-win{
    background-color: #05C46B;
}

.main-button.-third.-draw{
    background-color: #FFC107;
}

.main-button.-third.-lose{
    background-color: #F25A70;
}