.main-footer{
    position: relative;
    min-height: 540px;
    width: 100%;
    background-image: url('../../images/background-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-footer .-first{
    height: 300px;
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.main-footer .-second{
    height: 200px;
    position: absolute;
    bottom: 8%;
    left: 35%;
    transform: scaleX(-1);
}

.main-footer .-third{
    height: 200px;
    position: absolute;
    bottom: 8%;
    right: 35%;
}

.main-footer .-fourth{
    height: 200px;
    position: absolute;
    bottom: 20%;
    right: 25%;
}